h1 {
    color: #FFD15B;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    text-align: center;
}

header {
    position: absolute;
    transform: translate(-50%, -50%);
}

.header_logo {
    margin-left: 80%;
    margin-top: 50%;
}

.lookingfor_top {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lookingfor_input {
    width: 890px;
    height: 72px;
    display: flex;
    border: none;
    border-radius: 5px 0px 0px 5px;
}

.lookingfor_button {
    background: white;
    border: none;
    border-radius: 0px 5px 5px 0px;
}

.flex {
    background: white;
    display: flex;
}

.behind {
    width: 100%;
    height: 600px;
}
