h1 {
    display: flex;
    margin-bottom: 30px;
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 20px;
}

.yellow {
    color: #FFD15B;
    font-size: 2.5em;
    text-align: center;
}

h2 {
    display: flex;
    font-size: 1em;
    color: #7A7A7A;
}

h3 {
    font-size: 16.5px;
    overflow: hidden;
    max-height: 75px;
}

h1, h2, h3 {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 20px;
}

h4 {
    margin-left: 15px;
    color: #7A7A7A;
    font-size: 1em;
    margin-top: 20px;
}

header {
    position: absolute;
    transform: translate(-50%, -50%);
}

.header_logo {
    margin-left: 80%;
    margin-top: 50%;
}

.lookingfor_top {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lookingfor_input {
    width: 890px;
    height: 72px;
    display: flex;
    border: none;
    border-radius: 5px 0px 0px 5px;
}

.lookingfor_button {
    background: white;
    border: none;
    border-radius: 0px 5px 5px 0px;
}

.flex {
    background: white;
    display: flex;
}

.behind {
    width: 100%;
    height: 600px;
}

.plats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px 3%;
}

.imgId {
    width: 380px;
    height: 253px;
    object-fit: cover;
    border-radius: 30px 30px 0px 0px;
}

.image-wrapper {
    position: relative;
    display: inline-block;
}

.time-label {
    position: absolute;
    top: 10px; 
    right: 10px; 
    background-color: #FFD15B;
    color: black;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 14px; 
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
    background-color: rgb(241, 236, 236);
    margin-left: 5%;
    margin-right: 5%;
}

main {
    background-color: rgb(241, 236, 236);
}

article {
    width: 380px;
    height: 735px;
    background-color: white;
    gap: 10px;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.ingredientsFlex {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    gap: 20px;
    margin-left: 20px;
}
.ingredientItem {
    display: flex;
    flex-direction: column;
    width: calc(50% - 10px);
}
.unitCss {
    color : #7A7A7A;
}

p {
    margin: 0;
}
.foodCss {
    font-weight: bold;
}

.allButtonClass {
    display: flex;
    gap: 20px;
    
}

.numberbutton {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;
    margin-left: 67%;
}